@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff"),
       url("../fonts/roboto.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff"),
       url("../fonts/robotomedium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff"),
       url("../fonts/robotobold.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки */
  outline: 2px solid blue;
}

.wrapper {
  min-width: 1176px;
}

a {
  text-decoration: none;
}

/*  -------Кнопки-------  */
.button,
.basket-button {
  font: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.222em;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;

  background-color: #ed5a3c; /* временный цвет, в дальнейшем будет градиент */
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
}

.special-offer-button {
  font-size: 32px;
  font-weight: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-color: #f17b64;

  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.special-offer-button:hover,
.special-offer-button:focus {
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  background-color: #ed5a3c;
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.special-offer-button:active {
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

/*  -------Header и навигации-------  */
.main-header {
  display: flex;
  flex-direction: column;

  /* Временно для сетки */
  outline: 2px solid red;
}

.main-navigation {
  display: flex;

  /* Временно для сетки */
  outline: 2px solid orange;
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 24px;

  /* Временно для сетки */
  outline: 2px solid green;
}

/*  Навигация по сайту  */
.site-navigation {
  width: 408px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  outline: 2px solid green;
}

.site-navigation a {
  font-size: 16px;
  line-height: 1.125em;
  font-weight: 700;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*  Навигация пользователя  */
.user-navigation {
  width: 293px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  outline: 2px solid green;
}

.user-navigation-item > a { /*добавлен новый класс
   .user-navigation-item, чтобы ссылка ОФОРМИТЬ ЗАКАЗ
    в корзине сохранила стилизацию кнопки,
    а также сохранилось особое оформление ссылок внутри поп-апа ВХОД.
    Есть ли более компактный вариант?*/
  font-size: 14px;
  line-height: 1.143em;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

/*  Подменю КАТАЛОГ  */
.catalog-submenu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-submenu a {
  font-size: 14px;
  line-height: 1.143em;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.catalog-submenu-item:first-child a {
  font-weight: 700;
}

/*  Поведение ссылок при наведении курсора и нажатии  */
.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #333333;

  background-color: #f8f7f4;
}

.site-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
  background-color: #fbded7;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

/*  Нахождение на текущей странице  */
.site-navigation-current > a {
  color: #ffffff;

  background-color: #d07058;
}

.site-navigation-current > a:hover,
.site-navigation-current > a:focus,
.site-navigation-current > a:active {
  color: #ffffff;

  background-color: #d07058;
  box-shadow: none;
}

.catalog-submenu-item-current a {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-submenu-item-current a:hover,
.catalog-submenu-item-current a:focus,
.catalog-submenu-item-current a:active {
  color: #ffffff;

  background-color: #d07058;
}

/*  Контакты  */
.header-contacts {
  align-self: flex-end;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.143em;
  font-weight: 700;
}

.header-contacts span {
  font-size: 22px;
  line-height: 1.091em;
  font-weight: 700;
}

/*  -------Специальные предложения / Слайдер-------  */
.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 280px; /* расстояние до меню */


  /* Временно для сетки */
  outline: 2px solid #6c8c0f;
}

.slider-input {
  display: none;
}

input#creme-brulee-rasp:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-1.png);
  background-position: top center;
  background-repeat: no-repeat;
}

input#special-offer-2:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #8996a6;
}

input#special-offer-3:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-3.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #9d8b84;
}

.special-offer-heading {
  display: none;
  width: 60%;
  margin: 0 auto;
  padding: 0;


  font-size: 60px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

input#creme-brulee-rasp:checked ~ .body-wrapper .special-offer-heading-1 {
  display: block;
}

input#special-offer-2:checked ~ .body-wrapper .special-offer-heading-2 {
  display: block;
}

input#special-offer-3:checked ~ .body-wrapper
.special-offer-heading-3 {
  display: block;
}

.choice { /* можно ли по-другому оформить переключатели и кнопку */
  width: 712px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  /*padding: 0;*/

  /* Временно для сетки */
  outline: 2px solid #d6e626;
}

.choice label {
  display: inline-block;
  border: 2px solid #ffffff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}


.choice p { /* временно, пока не оформлены переключатели слайдера */
  margin: 0;
}

/*  -------Подарки-------  */
.half-page-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  /* Временно для сетки */
  outline: 2px solid #21cfdb;
}

.presents {
  font-weight: 700;
}

.present {
  width: 560px;
  min-height: 229px;

  border-radius: 15px;
}

.present-heading {
  font-size: 35px;
  line-height: 1.171em;
}

.present-rasp {
  background-color: #5e0f1f;
  background-image: url("../img/bg-raspberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.present-chocolate {
  background-color: #3e2519;
  background-image: url("../img/bg-chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*  -------Хиты и каталог на внутренней странице-------  */
.hits {
  display: flex;
  justify-content: space-between;
  width: 1172px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;


  /* Временно для сетки */
  outline: 2px solid #73d923;
}

.catalog {
  display: flex;
  justify-content: space-between;
  width: 1172px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;

  /* Временно для сетки */
  outline: 2px solid #73d923;
}

.item {
  width: 293px;
  padding: 0 13px;
  box-sizing: border-box;
}

.item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.item img {
  border-radius: 50%;
}

.item-heading {
  text-align: center;
}

.item-heading a {
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-heading a:hover,
.item-heading a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.price {
  font-size: 45px;
  line-height: 1em;
  font-weight: 700;
}

.price span {
  font-size: 30px;
}

/*  -------Особенности-------  */
.features {
  min-height: 306px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #ede0c4;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.features-heading {
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

/*  -------Блог-------  */
.new-post {
  width: 560px;
  min-height: 220px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-post p {
  font-weight: 500;
}

.article-title a {
  color: #323232;
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 700;
  text-decoration: underline;
}

/*  -------Подписка-------  */
.subscription {
  width: 560px;
  min-height: 220px;

  background-color: #f8f7f4;
  background-image: url("../img/bg-subscription.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subscription p {
  color: #5a5a5a;
}

.subscription input { /*как стилизовать PLACEHOLDER?*/
  font: inherit;
  line-height: 1.5em;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

.subscription input:hover {
  border: 2px solid #9a9a9a;
}

.subscription input:focus {
  border: 2px solid #2e88e4;
}

/*  -------Расположение-------  */
.location {
  /*width: 100%;*/
  /*height: 430px;  иначе появляется отступ снизу */
  /*margin: 0 auto;*/

  /* Временно для сетки */
  /*outline: 2px solid #fa5d59;*/
}

.map {
  width: 100%;
  min-height: 430px;

  background-image: url("../img/map.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  -------Контакты-------  */
.contacts {
  width: 302px;
  min-height: 305px;

  font-size: 14px;
  line-height: 1.429em;
  color: #323232;

  background-color: #fefefe;
  background-image: url("../img/bg-contacts.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.contacts b {
  display: block; /* для переноса на следующую строку */

  font-size: 18px;
  line-height: 1.333em;
  font-weight: 700;
}

/*  -------Футер-------  */
.main-footer {
  display: flex;
  padding-top: 18px;
}

.main-footer.inner {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 186px;
  margin-right: 214px;

  /* Временно для сетки */
  outline: 2px solid #afad1b;
}

.footer-social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info {
  width: 340px;

  /* Временно для сетки */
  outline: 2px solid #afad1b;
}

.footer-info ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-info a {
  font-size: 13px;
  line-height: 1.385em;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-info-item:first-of-type a {
  font-weight: 700;
}

.footer-info a:hover,
.footer-info a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.footer-copyright {
  width: 200px;
  margin: 0;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.5em;

  /* Временно для сетки */
  outline: 2px solid #afad1b;
}

.footer-copyright a:last-of-type {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright a:last-of-type:hover, /*вложенность селекторов = 2?*/
.footer-copyright a:last-of-type:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/*  -------Попапы-------  */
.popup {
  font-size: 13px;
  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.popup input { /*как стилизовать PLACEHOLDER?*/
  font: inherit;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  border: solid 1px #d3d3d2;
  border-radius: 5px;
}

.popup input:hover {
  border: 2px solid #9a9a9a;
}

.popup input:focus {
  border: 2px solid #2e88e4;
}

/*  Попапы -- форма поиска  */
.popup-search {
  width: 341px;
  min-height: 84px;
}

/*  Попапы -- форма входа  */
.popup-login {
  width: 277px;
  min-height: 214px;
}

.login-list {
  list-style: none;
}

.login-list a {
  line-height: 1.85em;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-list a:hover,
.login-list a:focus {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

/*  Попапы -- корзина  */
.popup-basket {
  width: 539px;
  min-height: 242px;

  line-height: 1.23em;
}

.popup-basket span {
  color: #999999;
}

.popup-basket b {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2em;
}

.popup-basket img {
  border-radius: 50%;
}

/*  -------Обратная связь-------  */
.modal-feedback {
  width: 478px;
  min-height: 443px;

  color: #323232;

  background-color: #fefefe;
  background-image: url("../img/bg-contacts.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;
}

.feedback-heading {
  font-size: 24px;
  line-height: 1.167em;
  font-weight: 500;
}

.feedback-label {
  visibility: hidden;

  font: inherit;
  font-size: 11px;
  line-height: 1.181;
}

.feedback-field { /*как стилизовать PLACEHOLDER?*/
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

.feedback-field:valid {
  border: 1px solid #b3b3b3;
}

.feedback-field:hover {
  border: 2px solid #9a9a9a;
}


.feedback-field:focus {
  border: 2px solid #2e88e4;
}

.feedback-field:valid + .feedback-label {
  visibility: visible;

  color: #999999;
}

.feedback-field:focus + .feedback-label {
  visibility: visible;

  color: #5b9ddf;
}


/*  -------Страница каталога-------  */

/*  Хлебные крошки  */
.breadcrumbs-contacts { /* обеъединено в один div с контактами и вынесено в HEADER */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 1.385em;
  color: #ffffff;
}

.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs-current {
  border-bottom: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.page-title {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 1.171em;
  color: #ffffff;
  font-weight: 700;
}

/*  -------Фильтры-------  */
.filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;

  width: 862px;

  /* Временно для сетки */
  outline: 2px solid #ff6ba9;
}

.filter fieldset {
  padding: 0;

  border: none;
}

.filter legend {
  padding-left: 15px;
  padding-bottom: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
}

.filter select,
.filter-price-wrapper,
.filter-fat-wrapper,
.filter-filler-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-sorting {
  margin-bottom: 17px;
}

.filter select {
  width: 194px;

  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  color: #ffffff;
}

.filter select:hover {
  color: #323232;

  background-color: #ffffff;
}

.filter option {
  font-weight: 500;
  color: #323232;
}

.filter-price {
  width: 220px;
}

.filter-fat {
  width: 415px;
}

.filter-filler {
  width: 703px;
}

.filter-button {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.13em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  border: solid 2px #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-button:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

/*  -------Пагинация-------  */
.pagination-list {
  width: 190px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-bottom: 30px;

  list-style: none;

  /* Временно для сетки */
  outline: 2px solid #db215e;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-prev a {
  color: rgba(255, 255, 255, 0.2);
}

.pagination-item-next a {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
