@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff"),
       url("../fonts/roboto.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff"),
       url("../fonts/robotomedium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff"),
       url("../fonts/robotobold.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки */
  /*outline: 2px solid blue;*/
}

.wrapper {
  min-width: 1176px;
}

.body-wrapper {
  min-width: 1176px;
  /*transition: background-image 0.5s ease,
  background-color 0.5s ease;*/
}

.body-wrapper::before,
.body-wrapper::after {
  content: "";

  visibility: hidden;
}

.body-wrapper::before,
.body-wrapper::after {
  background-image: url("../img/special-offer-3.png");
}

.body-wrapper::after {
  background-image: url("../img/special-offer-2.png");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*  -------Кнопки-------  */
.button {
  display: inline-block;
  padding: 11px 22px;
  vertical-align: top;

  font: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.222em;
  font-weight: 700;
  text-align: center;
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
          box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  border: none;
  border-radius: 23px;
}

.special-offer-button {
  display: inline-block;
  padding: 10px 43px;
  vertical-align: top;

  font-size: 32px;
  line-height: 1.375em;
  font-weight: 700;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 32px;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f38166;
  -webkit-box-shadow: 0px 1px 2px 0px #ac1000;
          box-shadow: 0px 1px 2px 0px #ac1000;
}

.special-offer-button:hover,
.special-offer-button:focus {
  background-image: none;
  background-color: #f38166;
  -webkit-box-shadow: 0px 2px 2px 0px #ac1000;
          box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px #942718;
          box-shadow: inset 0px 2px 2px 0px #942718;
}

.special-offer-button:active {
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  -webkit-box-shadow: inset 0px 2px 2px 0px #942718;
          box-shadow: inset 0px 2px 2px 0px #942718;
}

/*  -------Header и навигации-------  */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 10px;

  /* Временно для сетки */
  /*outline: 2px solid red;*/
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 64px;

  /* Временно для сетки */
  /*outline: 2px solid orange;*/
}

.logo {
  width: 154px;
  height: 64px;
  margin-right: 9px;

  /* Временно для сетки */
  /*outline: 2px solid green;*/
}

/*  Навигация по сайту  */
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 50px;

  margin: 0;
  margin-top: 12px;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  /*outline: 2px solid green;*/
}

.site-navigation-link {
  display: block;
  /*padding: 8px 14px;*/
  margin: 8px 14px;

  font-size: 16px;
  line-height: 1.125em;
  font-weight: 700;
  vertical-align: middle;
  color: #ffffff;

  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*  Навигация пользователя  */
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
    justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 293px;
  margin: 0;
  margin-top: 14px;
  margin-left: auto;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  /*outline: 2px solid yellow;*/
}

.user-navigation-item > a {
  display: block;
  margin-left: 10px;
  padding: 8px 0;

  font-size: 14px;
  line-height: 1.143em;
  font-weight: 500;
  vertical-align: middle;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search,
.login-link,
.not-empty {
  position: relative;
  height: 32px;
}

/*---Поиск---*/
.search > a {
  width: 32px;
  height: 32px;

  text-align: center;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search > a:hover path,
.search > a:focus path,
.search > a:active path {
  fill: #000000;
}

.search:hover .popup-search,
.search:focus .popup-search {
  display: block;
  top: 32px;
  right: 0;
}

/*---Вход---*/
.login-link > a {
  position: relative;

  padding-right: 16px;
  padding-left: 44px;
}

.login-link svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.login-link path {
  fill: #ffffff;
}

.login-link > a:hover path,
.login-link > a:focus path,
.login-link > a:active path  {
  fill: #000000;
}

.login-link:hover .popup-login,
.login-link:focus .popup-login {
  display: block;
  z-index: 10;
  top: 32px;
  right: 0;
}

/*---Корзина---*/
.basket > a {
  position: relative;
  width: 118px;
  padding-left: 44px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.empty > a {
  position: relative;
}

.empty svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.empty > a:hover path,
.empty > a:focus path,
.empty > a:active path,
.empty > a:hover circle,
.empty > a:focus circle,
.empty > a:active circle {
  fill: #000000;
}

.not-empty > a {
  color: #333333;

  background-color: #f8f7f4;
}

.not-empty > a::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.not-empty:hover .popup-basket,
.not-empty:focus .popup-basket {
  display: block;
  z-index: 10;

  top: 32px;
  right: 0;
}

/*  Подменю КАТАЛОГ  */
.site-navigation-catalog {
  position: relative;
  height: 40px; /*увеличена высота для избежания промежутков между пунктом меню и подменю*/
}

.catalog-submenu {
  display: none;
  position: absolute;
  top: 38px;
  left: -7px;
  min-width: 143px;
  margin: 0;
  padding: 0;

  border-radius: 5px;
  background-color: #f9f8f5;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  list-style: none;
}

.site-navigation-catalog:hover .catalog-submenu,
.site-navigation-catalog:focus .catalog-submenu {
  display: block;
  z-index: 10;
}

.catalog-submenu a {
  display: block;
  padding: 7px 0 8px 20px;

  font-size: 14px;
  line-height: 1.143em;
  font-weight: 400;
  color: #323232;
}

.catalog-submenu-item:first-child a {
  padding-top: 10px;
  padding-bottom: 14px;
  font-weight: 700;
}

.catalog-submenu-item:last-child a {
  padding-bottom: 14px;
}

.catalog-submenu-item:first-child,
.catalog-submenu-item:first-child a {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-submenu-item:last-child,
.catalog-submenu-item:last-child a {
	border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.catalog-submenu-item:first-child {
  position: relative;
}

.catalog-submenu-item:first-child::after {
  content: "";

  position: absolute;
  right: 9px;
  bottom: 0;
  left:6px;
  height: 1px;

  background-color: #d1d0ce;
}

.catalog-submenu a:hover,
.catalog-submenu a:focus {
  background-color: #fbded7;
}

.catalog-submenu a:active {
  background-color: #f6b5a5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-submenu-item-current a {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-submenu-item-current a:hover,
.catalog-submenu-item-current a:focus,
.catalog-submenu-item-current a:active {
  cursor: default;

  color: #ffffff;

  background-color: #d07058;
}

/*  Поведение ссылок при наведении курсора и нажатии  */
.site-navigation-link:hover,
.site-navigation-link:focus {
  padding: 8px 14px;
  margin: 0;

  color: #333333;

  background-color: #f7f6f3;
  border-bottom: none;
  border-radius: 16px;
}

.user-navigation-item > a:hover,
.user-navigation-item > a:focus {
  color: #333333;

  background-color: #f8f7f4;
}

.site-navigation-link:active {
  padding: 8px 14px;
  margin: 0;

  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0px #696969;
          box-shadow: inset 0px 2px 1px 0px #696969;
  border-bottom: none;
  border-radius: 16px;
}

/*  Нахождение на текущей странице  */
.site-navigation-current,
.site-navigation-current:hover,
.site-navigation-current:focus,
.site-navigation-current:active {
  padding: 8px 14px;
  margin: 0;

  color: #ffffff;
  border-bottom: none;
  border-radius: 16px;
  background-color: #d07058;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*  Контакты  */
.header-contacts {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.143em;
  font-weight: 700;
  text-align: right;
}

.header-contacts span {
  display: block;
  margin-top: 2px;

  font-size: 22px;
  line-height: 1.091em;
  font-weight: 700;
  text-align: right;
}

/*  -------Специальные предложения / Слайдер-------  */
.slider {
  position: relative;
  margin-top: 274px;  /* расстояние до меню */
  margin-bottom: 43px;

  text-align: center;

  /* Временно для сетки */
  /*outline: 2px solid #8c0f74;*/
}

.slider-input {
  display: none;
}

.special-offer-heading {
  display: none;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;

  font-size: 60px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.choice {
  position: absolute;
  left: 0;
  bottom: 19px;

  font-size: 0;
}

.choice label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input#special-offer-1:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-1.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #849d8f;
}

input#special-offer-2:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-2.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #8996a6;
}

input#special-offer-3:checked ~ .body-wrapper {
  background-image: url(../img/special-offer-3.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #9d8b84;
}

input#special-offer-1:checked ~ .body-wrapper .special-offer-heading-1,
input#special-offer-2:checked ~ .body-wrapper .special-offer-heading-2,
input#special-offer-3:checked ~ .body-wrapper
.special-offer-heading-3 {
  display: block;
}

input#special-offer-1:checked ~ .body-wrapper label[for="special-offer-1"],
input#special-offer-2:checked ~ .body-wrapper label[for="special-offer-2"],
input#special-offer-3:checked ~ .body-wrapper label[for="special-offer-3"] {
  background-color: #ffffff;
}

.choice label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.choice label:active  {
  background-color: #ffffff;
}

/*Поведение переключателей слайдера*/
input#special-offer-1:active ~ .body-wrapper label[for="special-offer-2"],
input#special-offer-1:active ~ .body-wrapper label[for="special-offer-3"] {
  background-color: transparent;
}

input#special-offer-2:active ~ .body-wrapper label[for="special-offer-1"],
input#special-offer-2:active ~ .body-wrapper label[for="special-offer-3"] {
  background-color: transparent;
}

input#special-offer-3:active ~ .body-wrapper label[for="special-offer-1"],
input#special-offer-3:active ~ .body-wrapper label[for="special-offer-2"] {
  background-color: transparent;
}

/*  -------Подарки-------  */
.half-page-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  margin-bottom: 35px;

  /* Временно для сетки */
  /*outline: 2px solid #21cfdb;*/
}

.presents {
  font-weight: 700;
}

.present {
  position: relative;
  width: 560px;
  min-height: 229px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-radius: 15px;
}

.present-heading {
  margin: 0;
  margin-left: 19px;
  margin-top: 15px;

  font-size: 35px;
  line-height: 1.171em;
}

.present p {
  margin: 0;
  margin-left: 19px;
  margin-top: 16px;
  margin-bottom: 80px;

  font-size: 18px;
  line-height: 22px;
}

.present-rasp {
  background-color: #5e0f1f;
  background-image: url("../img/bg-raspberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.present-chocolate {
  background-color: #3e2519;
  background-image: url("../img/bg-chocolate.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.present-button {
  position: absolute;
  bottom: 25px;
  right: 22px;
}

/*  -------Хиты и каталог на внутренней странице-------  */
.hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  width: 1172px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 4px;
  padding: 0;

  /* Временно для сетки */
  /*outline: 2px solid #73d923;*/
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  width: 1172px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0;

  /* Временно для сетки */
  /*outline: 2px solid #73d923;*/
}

.item {
  position: relative;
  width: 293px;
  height: 362px;
  padding: 0 13px;
  padding-top: 6px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item:hover,
.item:focus {
  margin-bottom: -43px;
  z-index: 20;
  width: 293px;
  height: 405px;

  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.item:hover .item-button,
.item:focus .item-button {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  z-index: 10;
}

.item-button {
  display: none;
  position: absolute;
  left: 46px;
  top: 339px;
  padding-left: 18px;
  padding-right: 18px;
}

.item.hit::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;

  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item img {
  cursor: pointer;
  border-radius: 50%;
}

.item-heading {
  margin: 0;
  margin-top: 6px;
  padding: 0;

  text-align: center;
  /*outline: 2px solid #73d923;*/
}

.item-heading a {
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-heading a:hover,
.item-heading a:focus,
.item-heading a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.price {
  position: absolute;
  top: 213px;
  left: 13px;
  margin: 0;

  font-size: 45px;
  line-height: 1em;
  font-weight: 700;

  /*outline: 2px solid #73d923;*/
}

.price span {
  position: relative;
  padding-left: 34px;

  font-size: 30px;
}

.price span::before {
  content: "";

  position: absolute;
  top: 0;
  left: 3px;
  width: 31px;
  height: 36px;

  background-image: url("../img/svg/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*  -------Особенности-------  */
.features {
  min-height: 290px;
  margin-bottom: 40px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 16px;

  color: #323232;

  background-color: #ede0c4;
  background-image: url("../img/bg-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.features-heading {
  margin: 0;
  padding-top: 24px;

  font-size: 24px;
  line-height: 1.25em;
  font-weight: 500;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;
  width: 485px;
  padding-left: 56px;
  padding-top: 12px;
  margin-top: 10px;
}

.ice-cream::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;

  background-image: url("../img/svg/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;

  background-image: url("../img/svg/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.leaf::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;

  background-image: url("../img/svg/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.thermometer::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;

  background-image: url("../img/svg/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*  -------Блог-------  */
.post-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  margin-bottom: 40px;

  /* Временно для сетки */
  /*outline: 2px solid #21cfdb;*/
}

.new-post {
  width: 560px;
  min-height: 220px;
  padding-left: 19px;
  padding-right: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-post p {
  margin: 0;
  padding: 0;
  padding-top: 22px;

  font-weight: 500;
}

.article-title {
  width: 280px;
  margin: 0;
  padding-top: 5px;
}

.article-title a {
  color: #323232;
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 700;
  text-decoration: underline;
}

.article-title a:hover,
.article-title a:focus,
.article-title a:active {
  color: #e84d37;
}

/*  -------Подписка-------  */
.subscription {
  position: relative;
  width: 560px;
  min-height: 220px;
  padding-left: 26px;
  padding-right: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #f8f7f4;
  background-image: url("../img/bg-subscription.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.subscription p {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-top: 35px;

  color: #5a5a5a;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;
}

.subscription input {
  display: inline-block;
  vertical-align: top;
  width: 366px;
  padding: 9px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font: inherit;
  line-height: 1.5em;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #b3b3b3;
          box-shadow: 0 0 0 1px #b3b3b3;
  border: none;
  border-radius: 5px;
}

.subscription input:hover {
  -webkit-box-shadow: 0 0 0 2px #9a9a9a;
          box-shadow: 0 0 0 2px #9a9a9a;
}

.subscription input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2e88e4;
          box-shadow: 0 0 0 2px #2e88e4;
}

.subscription-container {
  position: relative;
}

.subscription-label {
  display: none;

  font: inherit;
  font-size: 11px;
  line-height: 1.181;
}

.subscription-email:valid + .subscription-label {
  display: block;
  position: absolute;
  top: -16px;
  left: 13px;

  color: #999999;
}

.subscription-email:focus + .subscription-label {
  display: block;
  position: absolute;
  top: -16px;
  left: 13px;

  color: #5b9ddf;
}

.subscription-email::-webkit-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

.subscription-email:-ms-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

.subscription-email::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

.subscription-button {
  padding-left: 20px;
  padding-right: 20px;
}

/*  -------Расположение-------  */
.location {
  width: 100%;
  height: 430px;

  background-image: url("../img/map-pin.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebe5cc;
}

.container-location {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0;

  /* Временно для сетки */
  /*outline: 2px solid blue;*/
}

iframe {
  width: 100%;
  height: 430px;
  border: 0;
}

/*  -------Контакты-------  */
.contacts {
  position: absolute;
  right: 0;
  top: 62px;
  width: 302px;
  min-height: 305px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 29px;
  padding-left: 25px;


  font-size: 14px;
  line-height: 1.429em;
  color: #323232;

  background-color: #fefefe;
  background-image: url("../img/bg-contacts.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.contacts p {
  margin: 0;
  margin-bottom: 16px;
}

.contacts b {
  display: block; /* для переноса на следующую строку */
  padding-top: 4px;
  padding-bottom: 2px;

  font-size: 18px;
  line-height: 1.333em;
  font-weight: 700;
}

.contacts-button {
  position: absolute;
  bottom: 31px;

  padding-left: 28px;
  padding-right: 28px;
}


/*  -------Футер-------  */
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 28px;
}

.main-footer.inner {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 186px;
  margin-top: 17px;
  margin-right: 207px;

  /* Временно для сетки */
  /*outline: 2px solid #afad1b;*/
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
  width: 186px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;

  opacity: 0.8;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus  {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active path {
  fill: #e9e9e9;
}

.footer-info {
  margin-top: 12px;
  width: 335px;

  /* Временно для сетки */
  /*outline: 2px solid #afad1b;*/
}

.footer-info-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  margin: 0;
  padding: 0;
  height: 45px;

  list-style: none;

  /* Временно для сетки */
  /*outline: 2px solid #afad1b;*/
}

.footer-info-item {
  display: block;
  margin-left: 28px;
}

.footer-info-list svg {
  position: absolute;
  top: 6px;
  left: 6px;
}

.footer-info a {
  font-size: 13px;
  line-height: 1.385em;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.heart {
  font-weight: 700;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.heart:hover + svg path,
.heart:focus + svg path,
.heart:active + svg path {
  fill: #ffbc9e;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  width: 190px;
  margin: 0;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.5em;

  /* Временно для сетки */
  /*outline: 2px solid #afad1b;*/
}

.academy {
  margin: 0;
}

.footer-copyright a:not(.logo-html-academy) {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-html-academy:hover path,
.logo-html-academy:focus path,
.logo-html-academy:active path {
  fill: #ffbc9e;
}

.footer-copyright a:not(.logo-html-academy):hover,
.footer-copyright a:not(.logo-html-academy):focus,
.footer-copyright a:not(.logo-html-academy):active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/*  -------Попапы-------  */
.popup form,
.basket-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 13px;
  color: #323232;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.popup input {
  display: inline-block;
  width: 100%;
  padding: 9px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;

  font: inherit;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #b3b3b3;
          box-shadow: 0 0 0 1px #b3b3b3;
  border: none;
  border-radius: 5px;
}

.popup-field::-webkit-input-placeholder {
  font: inherit;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 400;
  color: #999999;
}

.popup-field:-ms-input-placeholder {
  font: inherit;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 400;
  color: #999999;
}

.popup-field::placeholder {
  font: inherit;
  font-size: 14px;
  line-height: 1.71em;
  font-weight: 400;
  color: #999999;
}

.popup input:hover {
  -webkit-box-shadow: 0 0 0 2px #9a9a9a;
          box-shadow: 0 0 0 2px #9a9a9a;
}

.popup input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2e88e4;
          box-shadow: 0 0 0 2px #2e88e4;
}

/*  Попапы -- форма поиска  */
.popup-search {
  display: none;
  position: absolute;
  padding-top: 4px;
}

.search-form {
  width: 341px;
  min-height: 84px;
}

.popup-container {
  position: relative;
}

.popup-label {
  display: none;

  font: inherit;
  font-size: 11px;
  line-height: 1.181;
}

.popup-field:valid + .popup-label {
  display: block;
  position: absolute;

  top: -16px;
  left: 13px;

  color: #999999;
}

.popup-field:focus + .popup-label {
  display: block;
  position: absolute;
  top: -16px;
  left: 13px;

  color: #5b9ddf;
}

/*  Попапы -- форма входа  */
.popup-login {
  display: none;
  position: absolute;
  padding-top: 4px;
}

.login-form {
  position: relative;
  padding-left: 19px;
  padding-right: 17px;
  width: 277px;
  min-height: 214px;
}

.popup-login input {
  margin-bottom: 22px;
}

.login-button {
  position: absolute;
  top: 146px;
  left: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.login-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 146px;
  left: 138px;
  display: block;

  list-style: none;
}

.login-list a {
  line-height: 1.85em;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login-list a:hover,
.login-list a:focus,
.login-list a:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

/*  Попапы -- корзина  */
.popup-basket {
  display: none;
  position: absolute;
  padding-top: 4px;
}

.basket-container {
  position: relative;
  padding-top: 19px;
  width: 539px;
  min-height: 242px;

  text-align: right;

  line-height: 1.23em;
}

.popup-basket span {
  color: #999999;
}

.popup-basket b {
  display: block;
  margin-bottom: 15px;
  margin-right: -3px;

  text-align: right;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2em;
}

.popup-basket img {
  border-radius: 50%;
}

.basket-button {
  padding-left: 15px;
  padding-right: 15px;
}

/*Таблица корзины*/
.basket-table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 14px;
}

.basket-table-item {
  min-height: 53px;
}

.cell {
  vertical-align: top;
  padding-top: 10px;
  text-align: center;
}

.column-1 {
  position: relative;
  width: 22px;
}

.column-2 {
  padding-top: 0;
  padding-bottom: 17px;
  width: 33px;
}

.basket-table-item:last-child .column-2 {
  padding-bottom: 21px;
}

.column-3 {
  text-align: left;
  padding-left: 11px;
}

.column-4 {
  width: 112px;
}

.column-5 {
  width: 82px;
}

.basket-table .popup-close::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 5px;
  width: 11px;
  height: 11px;

  background-image: url("../img/svg/cross-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-table .popup-close:focus::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
}

/*  -------Обратная связь-------  */
@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -550%);
        -ms-transform: translate(-50%, -550%);
            transform: translate(-50%, -550%);
  }

  70% {
    -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }

  90% {
    -webkit-transform: translate(-50%, -55%);
        -ms-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-55%, -50%);
        -ms-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-45%, -50%);
        -ms-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
}

.modal-feedback {
  display: none;
  padding: 16px 25px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 478px;
  min-height: 443px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #323232;

  background-color: #fefefe;
  background-image: url("../img/bg-contacts.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 10px;
}

/*Затемнение при всплывании модального окна*/
.modal-feedback-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show-wrapper {
  display: block;
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback .modal-close::before {
  content: "";

  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;

  background-image: url("../img/svg/cross-big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-feedback .modal-close:focus::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.feedback-heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 24px;
  line-height: 1.167em;
  font-weight: 500;
}

.feedback-field {
  display: inline-block;
  width: 265px;
  padding: 9px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 22px;
  vertical-align: top;

  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 700;
  color: #323232;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #b3b3b3;
          box-shadow: 0 0 0 1px #b3b3b3;
  border: none;
  border-radius: 5px;
}

.feedback-field::-webkit-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

.feedback-field:-ms-input-placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

.feedback-field::placeholder {
  font: inherit;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
  color: #999999;
}

 textarea.feedback-field {
  outline: none;
  resize: none;
  width: 100%;
  min-height: 153px;
}

.feedback-field:valid {
  -webkit-box-shadow: 0 0 0 1px #b3b3b3;
          box-shadow: 0 0 0 1px #b3b3b3;
}

.feedback-field:hover {
  -webkit-box-shadow: 0 0 0 2px #9a9a9a;
          box-shadow: 0 0 0 2px #9a9a9a;
}

.feedback-field:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #2e88e4;
          box-shadow: 0 0 0 2px #2e88e4;
}

.feedback-container {
  position: relative;
}

.feedback-label {
  display: none;

  font: inherit;
  font-size: 11px;
  line-height: 1.181;
}

.feedback-field:not(:placeholder-shown) + .feedback-label {
  display: block;
  position: absolute;
  top: -16px;
  left: 13px;

  color: #999999;
}

.feedback-field:focus + .feedback-label {
  display: block;
  position: absolute;
  top: -16px;
  left: 13px;

  color: #5b9ddf;
}

.modal-feedback p {
  margin: 0;
  padding: 0;

  text-align: right;
}

.feedback-button {
  padding-left: 24px;
  padding-right: 24px;
}

/*  -------Страница каталога-------  */
/*  Хлебные крошки  */
.breadcrumbs-contacts { /* обеъединено в один div с контактами и вынесено в HEADER */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -webkit-box-align: end;
     -ms-flex-align: end;
        align-items: flex-end;
  min-height: 42px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 1.385em;
  color: #ffffff;
}

.breadcrumbs li {
  margin-right: 6px;
}

.breadcrumbs a {
  cursor: pointer;

  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs-current {
  border-bottom: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.page-title {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 28px;

  font-size: 35px;
  line-height: 1.171em;
  color: #ffffff;
  font-weight: 700;
}

/*  -------Фильтры-------  */
.filters {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  margin-bottom: 34px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
       align-content: space-between;
  min-height: 131px;
  width: 860px;

  /* Временно для сетки */
  /*outline: 2px solid #ff6ba9;*/
}

.filter fieldset {
  padding: 0;

  border: none;
}

.filter legend {
  padding-left: 15px;
  padding-bottom: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
}

.filter-fat-wrapper,
.filter-filler-wrapper {
  padding: 9px 14px;

  background-image: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

/*Сортировка*/
.filter-select-wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;

  background-image: url("../img/svg/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 168px 16px;
  border-radius: 20px;
}

.filter-select {
  width: 193px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 9px 34px 9px 14px;

  cursor: pointer;

  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  color: #ffffff;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 20px;
}

.filter-select::-ms-expand { /*убираем стрелку с селекта в IE11 Источник: https://toster.ru/q/380623*/
  display: none;
}

.filter-select-wrapper:hover,
.filter-select-wrapper:focus {
  cursor: pointer;

  color: #323232;

  background-color: #ffffff;
}

.filter-select:hover,
.filter-select:focus {
  color: #323232;

  background-image: url("../img/svg/select-arrow-black.svg");
  background-repeat: no-repeat;
  background-position: 168px 16px;
  background-color: #ffffff;
  outline: none;
}

.filter-select option {
  font-weight: 500;
}

/*Фильтр по цене*/
.filter-range {
  width: 220px;
  height: 36px;

  background-image: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-controls {
  position: relative;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 118px;
  height: 4px;
  margin-left: 13px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
	width: 20px;
	height: 23px;
	top: 8px;

	background-image: url('../img/svg/filter-button.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-toggle-min {
  left: 33px;
}

.range-toggle-max {
  left: 131px;
}

.range-toggle:hover,
.range-toggle:focus {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	cursor: pointer;
}

/*Фильтр по жирности*/
.filter-fat {
  width: 415px;
}

.filter-fat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.filter-radio {
  position: relative;
  padding-left: 31px;

  cursor: pointer;
}

.filter-input-radio + .radio-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 5;
  width: 22px;
  height: 22px;

  opacity: 0.8;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-radio:checked + .radio-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 5;
  width: 22px;
  height: 22px;

  opacity: 0.8;
  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-radio:hover + .radio-indicator,
.filter-input-radio:checked:hover + .radio-indicator {
  opacity: 1;
}

.filter-input-radio:focus + .radio-indicator,
.filter-input-radio:checked:focus + .radio-indicator {
  opacity: 1;
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-radio:disabled + .radio-indicator,
.filter-radio-disabled {
  cursor: default;
  opacity: 0.4;
}

/*Фильтр по наполнителям*/
.filter-filler {
  width: 703px;
}

.filter-filler-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  padding: 9px 20px 9px 16px;
}

.filter-checkbox {
  position: relative;
  padding-left: 33px;

  cursor: pointer;
}

.filter-input-checkbox + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  width: 20px;
  height: 20px;

  opacity: 0.8;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-checkbox:checked + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 5;
  width: 23px;
  height: 20px;

  opacity: 0.8;
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.filter-input-checkbox:hover + .checkbox-indicator,
.filter-input-checkbox:checked:hover + .checkbox-indicator {
  opacity: 1;
}

.filter-input-checkbox:focus + .checkbox-indicator,
.filter-input-checkbox:checked:focus + .checkbox-indicator {
  opacity: 1;
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:disabled + .checkbox-indicator,
.filter-checkbox-disabled {
  cursor: default;
  opacity: 0.4;
}

.filter-button {
  -ms-flex-item-align: end;
           align-self: flex-end; /*иначе кнопкак вертикально тянется*/
  padding: 7px 27px;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.13em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border-radius: 20px;
  border: solid 2px #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-image: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-button:active {
  color: #323232;

  background-image: none;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
          box-shadow: inset 0px 2px 1px 0 #696969;
}

/*  -------Пагинация-------  */
.pagination-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
   justify-content: flex-start;
  width: 167px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-bottom: 28px;

  list-style: none;

  /* Временно для сетки */
  /*outline: 2px solid #db215e;*/
}

.pagination-item a {
  display: inline-block;
  width: 27px;
  height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  margin-right: 2px;
  vertical-align: bottom;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13em;
  color: #ffffff;
  text-align: center;

  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-prev::before {
  content: "";
  pointer-events: none;
  cursor: default;

  position: absolute;
  top: 10px;
  left: -21px;
  width: 7px;
  height: 7px;

  background-color: transparent;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-item-next::before {
  content: "";

  position: absolute;
  top: 10px;
  right: 0;
  width: 7px;
  height: 7px;

  background-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
